
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-h3n {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #d6efed;
}
.desktop-2-h3n .vector-RkU {
  width: 76.4816rem;
  height: 93.177rem;
  position: absolute;
  left: 97.7rem;
  top: 45.8rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-h3n .vector-xVW {
  width: 76.4816rem;
  height: 93.177rem;
  position: absolute;
  left: 104.4rem;
  top: 47.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-h3n .vector-hCC {
  width: 104rem;
  height: 98.3838rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-h3n .learning-pana-1-qZJ {
  width: 86.5515rem;
  height: 78.5401rem;
  position: absolute;
  left: 0;
  top: 14.4011rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-h3n .about-me-xdv {
  width: 29.6rem;
  height: 7.1rem;
  position: absolute;
  left: 96.2rem;
  top: 24.7rem;
  text-align: center;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #37796d;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-h3n .im-a-student-currently-pursuing-btech-artificial-intelligence-and-data-science-in-crescent-university-i-want-to-pursue-a-career-as-data-analyst-3fN {
  width: 54.7rem;
  height: 41rem;
  position: absolute;
  left: 83.65rem;
  top: 32.6rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.desktop-2-h3n .star-filled-long-fAx {
  width: 5.5rem;
  height: 7rem;
  position: absolute;
  left: 127.3rem;
  top: 18.45rem;
  object-fit: contain;
  vertical-align: top;
}
